* {
  @apply transition-[background-color] duration-200;
}

html {
  body {
    background-color: #eeeaf0;
    color: #1d1d1d;
    // text-[#9fa19c]
    @apply text-[#54565b] dark:text-white;
  }
  &.dark {
    body {
      background-color: #37444c;
      // background-color: #5e7583;
      // background-color: #442858;
      color: #fff;
    }
  }
}
html.dark .mantine-Paper-root {
  //     background-color: #5e7583;
  // background-color: #161c27 !important;
  // color: #b0b7c3 !important;
}
html.dark .mantine-Modal-modal {
  @apply bg-darkbg text-white;
}
html.dark .mantine-Modal-overlay {
  @apply bg-lighterWhite opacity-5;
}
// html.dark .mantine-Modal-title {
//   color: #b0b7c3 !important;
// }
// html.dark .mantine-UnstyledButton-root:hover {
//   background-color: #4b5568;
// }

.vision-board {
  .grid {
    opacity: 1;
    z-index: 10;
  }
  .cards {
    opacity: 0;
    z-index: -10;
    div {
      display: none;
    }
  }
}
.not-vision-board {
  .grid {
    opacity: 0;
    z-index: -10;
  }
  .cards {
    opacity: 1;
    z-index: 10;
  }
}

.vision-body {
  height: 100vh;
  overflow: hidden;
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

