.vision-board {
  .grid {
    opacity: 1;
    z-index: 10;
  }
  .cards {
    opacity: 0;
    z-index: -10;
    div {
      display: none;
    }
  }
}
.not-vision-board {
  .grid {
    opacity: 0;
    z-index: -10;
  }
  .cards {
    opacity: 1;
    z-index: 10;
  }
}
@media screen and (max-width: 770px) {
  .vision-board {
    height: 100vh;
    overflow: hidden;
  }
}

